* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto";
    font-size: 16px;
}
a {
    color: black;
    text-decoration: none;
}
li {
    list-style: none;
}
input,
select {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 15px #afafaf;
    outline: none;
    font-size: 16px;
}
select {
    color: black;
}
select::placeholder {
    color: grey;
}
textarea {
    padding: 10px;
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    outline: none;
    font-family: "Roboto";
    font-size: 16px;
}
.checkbox {
    width: initial !important;
    border: initial !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 10px;
    background: transparent !important;
    box-shadow: none;
}
.button-colored {
    width: 280px;
    padding: 15px;
    border-radius: 30px;
    background: #3D9B9B;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}
.button-white {
    background: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    width: 280px;
    text-align: center;
}
.button-back {
    background: #c5c5c5;
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
}
.success {
    color: #4caf50;
    margin-bottom: 20px;
    text-align: center;
}

/********* LOADER **************************/

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #9696f7; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/********* SIGNUP PAGE + LOGIN PAGE **************************/

.entry {
    background: #3D9B9B;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.entry h1 {
    color: white;
    margin-bottom: 100px;
}
.entry a {
    margin-bottom: 30px;
}
.signup-page,
.login-page {
    background: #3D9B9B;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup-page h1,
.login-page h1 {
    margin-bottom: 100px;
    text-align: center;
    font-size: 25px;
    color: white;
}
.signup-form,
.login-form {
    width: 350px;
}
.login-form input,
.signup-form input {
    background-color: transparent !important;
    border-bottom: 1px solid white;
    border-radius: 0;
    box-shadow: none;
    padding-left: 40px;
    margin-bottom: 30px;
    color: white;
}
.login-form input::placeholder,
.signup-form input::placeholder {
    color: white;
}
.login-form .email-input,
.signup-form .email-input {
    position: relative;
}
.signup-form label {
    color: white;
    margin-bottom: 20px;
    display: inline-block;
}
.login-form img,
.signup-form img {
    position: absolute;
    top: 10px;
    width: 25px;
    height: 25px;
}
.success-animation {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}
.circle {
    width: 26px;
    height: 26px;
    background-color: #4caf50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
    animation: scaleUp 0.5s ease-out forwards;
}
.checkmark {
    width: 15px;
    height: 6px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
    opacity: 0;
    animation: drawCheckmark 0.5s 0.5s ease-out forwards;
}
@keyframes scaleUp {
    0% { transform: scale(0) }
    100% { transform: scale(1) }
}
@keyframes drawCheckmark {
    0% {
        opacity: 0;
        width: 0; 
        height: 0;
    }
    100% {
        opacity: 1;
        width: 15px;
        height: 6px;
    }
}
.error-message {
    color: red;
    margin-bottom: 20px;
}
.login-form button,
.signup-form button {
    margin-top: 30px;
    width: 100%;
}
.link-mdp {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    color: white;
    text-decoration: underline;
}
.signup-form .link-signup {
    margin-top: 30px;
}
.link-signup {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    color: white;
    text-decoration: underline;
    margin: 10px 0;
}


/********* HEADER COMPONENT **************************/

.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: solid 2px #cacaca;
    padding-bottom: 20px;
    padding-top: 10px;
    background: white;
}
.header nav {
    display: flex;
    justify-content: space-between;
}
.header nav a {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: white solid 1px;
    border-bottom: white solid 2px;
    cursor: pointer;
    background: white;
    color: white;
}
.header img {
    width: 30px;
    height: 30px;
}


/********* SECTIONS ONGLET **************************/

.fdr,
.preview-section,
.search-section,
.account,
.stats-section {
    padding: 20px;
    padding-bottom: 150px;
    padding-top: 10px;
}
@media screen and (min-width: 600px) {
    .preview-section,
    .fdr,
    .search-section,
    .stats-section {
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media screen and (min-width: 800px) {
    .preview-section,
    .fdr,
    .search-section,
    .stats-section {
        margin-left: 200px;
        margin-right: 200px;
    }
}
@media screen and (min-width: 1000px) {
    .preview-section,
    .fdr,
    .search-section,
    .stats-section {
        margin-left: 300px;
        margin-right: 300px;
    }
}
@media screen and (min-width: 1400px) {
    .preview-section,
    .fdr,
    .search-section,
    .stats-section {
        margin-left: 400px;
        margin-right: 400px;
    }
}

.preview-section header,
.fdr header,
.account-header,
.search-section header,
.stats-section header {
    padding-top: 10px;
    padding-bottom: 20px;
}
.geo-header {
    padding: 20px 0;
}
.preview-section header h1,
.geo-header h1,
.fdr header h1,
.account-header h1,
.search-section header h1,
.stats-section header h1 {  
    font-size: 16px;
    text-align: center;
}
.preview-section .hello {
    margin-top: 10px;
}
.preview-section .name {
    color: #3D9B9B;
    text-align: right;
}
.preview-section .hello p {
    margin-top: 5px;
}
.stats-section .nb {
    box-shadow: 2px 2px 15px #cfcfcf;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.stats-section .total {
    background: #DCF1F2;
    border: 2px solid #3D9B9B;
}
.stats-section .nb p {
    font-size: 17px;
}
.stats-section .nb span {
    color: white;
    font-weight: bold;
    background: #3D9B9B;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
}




.geoloc-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}
.geoloc-button {
    width: 90%;
    margin-bottom: 20px;
    text-transform: initial;
    font-weight: normal;
    margin: 20px 0;
}
.geoloc-results {
    width: 100%;
}
.geoloc-results li {
    border-bottom: 5px solid #e4e4e4;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.geoloc-results li button {
    width: initial;
    text-transform: initial;
    font-weight: normal;
    padding: 8px;
    padding-bottom: 6px;
}
.geoloc-results li span {
    font-size: 17px;
    display: inline-block;
    margin-bottom: 10px;
}
.geoloc-results li p {
    color: grey;
    font-size: 15px;
}
.geoloc-results li .distance {
    margin-bottom: 5px;
}
.modale {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dadada3d;
}
.modale .content {
    background: white;
    width: 80%;
    padding: 30px;
    box-shadow: 2px 2Px 15px #c4c3c3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.modale .content p {
    margin: 20px 0;
}
.modale .content strong {
    background: #3D9B9B;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}
.modale .content .city {
    color: grey;
}
.geoloc-section button {
    text-transform: initial;
    font-weight: normal;
    margin: 20px 0;
}
.modale button {
    text-transform: initial;
    font-weight: normal;
    margin: 20px 0;
}
.distance-results {
    border-bottom: 5px solid #e4e4e4;
    width: 100%;
}
.distance-results p {
    margin-bottom: 10px;
}
.distance-results .total {
    border-top: 5px solid #e4e4e4;
    border-bottom: 5px solid #e4e4e4;
    padding: 15px 20px;
    text-align: center;
}
.distance-results .total strong {
    background: #3D9B9B;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.distance-results .arrets {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0;
}
.distance-results .arrets li p {
    margin-bottom: 15px;
    color: grey;
    line-height: 25px;
}
.distance-results .arrets li em {
    color: black;
}
.distance-results .arrets li strong {
    background: #3D9B9B;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.distance-results .point {
    color: grey;
    font-size: 14px;
}
.distance-results .info {
    color: #3D9B9B;
    font-style: italic;
    font-size: 14px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.distance-results .info p {
    margin-bottom: 0;
}
.distance-results .info img {
    margin-right: 10px;
}
.congrats {
    text-align: center;
    line-height: 25px;
    margin: 10px 20px;
}




.fdr-survey {
    box-shadow: 2px 2px 15px #cfcfcf;
    padding: 30px;
    margin: 30px 0;
    border-radius: 20px;
}
.fdr-header {
    display: flex;
    flex-direction: column;
}
.fdr-header button {
    width: 100%;
    font-weight: normal;
    text-transform: initial;
}
.fdr-header .nb-visits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
}
.fdr-header .nb-visits div {
   background: white;
   border-radius: 10px;
   padding: 15px
}
.fdr-date {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.fdr-date .btn-date {
    margin: 0;
}
.fdr-date button {
    text-transform: initial;
    font-weight: normal;
    margin-right: 20px;
}
.fdr-header .nb-visits h2 {
    font-size: 16px;
}
.fdr-survey button {
    width: 100%;
}
.fdr h2 {
    margin-bottom: 20px;
}
.fdr-info {
    display: flex;
    flex-direction: column;
}
.fdr-info h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.detected-date {
   background: #DCF1F2;
   color: #3D9B9B;
   padding: 10px;
   font-size: 14px;
}
.fdr-saved div {
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #cfcfcf;
}
.fdr-saved p {
    margin-bottom: 5px;
}
.fdr-saved p span {
    font-weight: bold;
}
.visit-saved {
    background: white;
    padding: 20px;
}
.fdr-saved button {
    text-transform: initial;
    margin: 10px 0px;
    font-weight: normal;
    width: 100%;
}
.all-surveys {
    display: flex;
    flex-direction: column;
}
.all-surveys a {
    margin-bottom: 10px;
    text-align: center;
    text-transform: initial;
    font-weight: normal;
}
.visit-saved .button-colored {
    padding: 10px;
    margin-bottom: 5px;
}
.visit-saved div {
    margin-bottom: 20px;
    box-shadow: none;
    margin-top: 0;
}





.form-pj {
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #cfcfcf;
    background: #DCF1F2;
}
.form-pj label {
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
}
.form-pj .message {
    margin: 10px 0;
    margin-top: 20px;
    color: green;
}
.form-pj .saved-data .div {
    padding: 20px;
    margin: 20px 0;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #cfcfcf;
}
.form-pj .saved-data p {
    margin: 10px 0;
}
.form-pj .saved-data span {
    font-weight: bold;
}
.form-pj button {
    width: 100%;
    text-transform: initial;
    font-weight: normal;
}
.form-pj input {
    box-shadow: none;
    border-radius: 30px;
    background: white; 
}




.form-FSC {
    background: #DCF1F2;
    padding: 20px;
    border-radius: 20px;
}
.form-FSP {
    background: #DCF1F2;
    padding: 20px;
    border-radius: 20px;
}
.form-CRD {
    background: #DCF1F2;
    padding: 20px;
    border-radius: 20px;
}
.form-crp {
    background: #DCF1F2;
    padding: 20px;
    border-radius: 20px;
}
.form-FSC button {
    font-weight: normal;
    width: 100%;
    margin: 20px 0;
}
.form-FSC input,
.form-FSP input,
.form-CRD input, 
.form-FSP select,
.form-crp input {
    box-shadow: none;
    border-radius: 30px;
    background: white; 
}
.form-FSC .marques label,
.form-FSC .marques .radio,
.label-space {
    margin-bottom: 10px;
    display: inline-block;
}
.form-FSC  .radio-equipe {
    margin-bottom: 10px;
    display: inline-block;
}
.form-FSC .oui,
.form-FSP .oui,
.form-CRD .oui {
    margin-right: 20px;
}

.div-space {
    margin-bottom: 20px;
}
.fsc-btn {
    width: 100%;
    margin-bottom: 20px;
    text-transform: initial;
    font-weight: normal;
}
.fsc-saved, 
.crp-results li {
    padding: 20px;
    background: #DCF1F2;
    border-radius: 20px;
    margin: 20px 0;
}
.crd-saved {
    padding: 20px;
    background: #DCF1F2;
    border-radius: 20px;
    margin: 20px 0;
}
.fsp-results li {
    padding: 20px;
    background: #DCF1F2;
    border-radius: 20px;
    margin: 20px 0;
}
.fsc-saved p,
.fsp-results p,
.crd-saved p {
    margin-bottom: 10px;
}
.button-fsc,
.button-crd,
.button-crp {
    width: 100%;
}
.button-fsp {
    width: 100%;
    margin-bottom: 20px;
}
.bold {
    font-weight: bold;
}
.margin {
    margin-bottom: 10px;
    display: inline-block;
}
.form-FSP .space,
.form-CRD .space,
.form-crp .space {
    margin-bottom: 20px;
    display: inline-block;
}
.search-filter .space {
    margin-bottom: 20px;

}
.search-filter .space div label {
    color: black;
    font-size: 16px;
}
.form-FSC button,
.form-FSP button,
.form-crp button,
.fsc-results button,
.fsc-btn,
.btn-crp,
.btn-crd,
.form-CRD .button-colored {
    text-transform: initial;
    font-weight: normal;
    width: 100%;
    margin-bottom: 10px;
}











.search-filter {
    padding: 30px;
    box-shadow: 2px 2px 15px #afafaf;
    border-radius: 20px;
}
.search-filter label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
    color: grey;
}
.search-filter button {
    width: 100%;
}
.search-results .nb-visit {
    margin-top: 30px;
    text-align: center;
    color: #3D9B9B;
    font-weight: bold;
    font-size: 18px;
}
.search-results div {
    width: 100%;
    padding: 20px;
    margin: 30px 0;
    box-shadow: 2px 2px 15px #afafaf;
    border-radius: 20px;
}
.search-results div p {
    margin-bottom: 10px;
}
.search-results div span {
    font-weight: bold;
}




.account {
    padding: 0 !important;
}
.account .content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-top: 5px #e9e9e9 solid;
}
.account .content button,
.account .content div  {
    padding: 20px 0;
    border: none;
    font-family: "Roboto";
    font-size: 16px;
    background-color: white;
    border-bottom: 5px #e9e9e9 solid;
}
.account button {
    cursor: pointer;
}
.account .content div {
    position: relative;
}
.account .content div span {
    color: grey;
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.account .content div p {
    text-align: center;
}
.account .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dadadab4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.account .modal-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    line-height: 25px;
}
.account .modal-content button {
    margin-top: 20px;
    background: #3D9B9B;
    color: white;
    font-family: "Roboto";
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
    width: 60px;
}












.nope {
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.shadow {
    box-shadow: 2px 2px 15px #afafaf ;
    padding: 20px ;
    border-radius: 20px ;
}
.shadow p {
    margin-bottom: 10px;
}
.title {
    border-bottom: 5px solid #e4e4e4;
    padding-bottom: 10px;
    margin-bottom: 20px !important;
    text-transform: uppercase;
}
.savedby {
    border-top: 5px solid #e4e4e4;
    padding-top: 10px;
    margin-bottom: 0 ;
    margin-top: 10px !important;
    display: inline-block;
    width: 100%;
}