* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto";
    font-size: 16px;
}
a {
    color: black;
    text-decoration: none;
}
li {
    list-style: none;
}
input,
select {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 15px #afafaf;
    outline: none;
    font-size: 16px;
}
textarea {
    padding: 10px;
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    outline: none;
    font-family: "Roboto";
    font-size: 16px;
}
.checkbox {
    width: initial !important;
    border: initial !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 10px;
    background: transparent !important;
    box-shadow: none;
}
.button-colored {
    width: 280px;
    padding: 15px;
    border-radius: 30px;
    background: linear-gradient(50deg, #4c4e78, #a8abeb, #a8abeb, #a8abeb , #4c4e78);
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}
.button-white {
    background: linear-gradient(50deg, #8083b6, white, white, white, #8083b6);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    width: 280px;
    text-align: center;
}
.button-fpj {
    padding: 15px;
    border-radius: 30px;
    background: #4f97e3;
    border: none;
    font-size: 16px;
    color: white;
}
.button-fsp {
    padding: 15px;
    border-radius: 30px;
    background: #3BB0C5;
    border: none;
    font-size: 16px;
    color: white;
}
.button-fsc {
    padding: 15px;
    border-radius: 30px;
    background: #F3B955;
    border: none;
    font-size: 16px;
    color: white;
}
.button-crd {
    padding: 15px;
    border-radius: 30px;
    background: #F23D58;
    border: none;
    font-size: 16px;
    color: white;
}
.button-crp {
    padding: 15px;
    border-radius: 30px;
    background: #913df2;
    border: none;
    font-size: 16px;
    color: white;
}
.button-back {
    background: #c5c5c5;
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
}
.success {
    color: #4caf50;
    margin-bottom: 20px;
    text-align: center;
}

/********* LOADER **************************/

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #9696f7; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/********* SIGNUP PAGE + LOGIN PAGE **************************/

.entry {
    background: #7277d1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.entry h1 {
    color: white;
    margin-bottom: 100px;
}
.entry a {
    margin-bottom: 30px;
}
.signup-page,
.login-page {
    background: #7277d1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup-page h1,
.login-page h1 {
    margin-bottom: 100px;
    text-align: center;
    font-size: 25px;
    color: white;
}
.signup-form,
.login-form {
    width: 350px;
}
.login-form input,
.signup-form input {
    background-color: transparent !important;
    border-bottom: 1px solid white;
    border-radius: 0;
    box-shadow: none;
    padding-left: 30px;
    margin-bottom: 30px;
    color: white;
}
.login-form input::placeholder,
.signup-form input::placeholder {
    color: white;
}
.login-form .email-input,
.signup-form .email-input {
    position: relative;
}
.signup-form label {
    color: white;
    margin-bottom: 20px;
    display: inline-block;
}
.login-form img,
.signup-form img {
    position: absolute;
    top: 14px;
}
.success-animation {
    display: flex;
    align-items: center;
    color: #4caf50;
    margin-bottom: 20px;
}
.circle {
    width: 26px;
    height: 26px;
    background-color: #4caf50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
    animation: scaleUp 0.5s ease-out forwards;
}
.checkmark {
    width: 15px;
    height: 6px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
    opacity: 0;
    animation: drawCheckmark 0.5s 0.5s ease-out forwards;
}
@keyframes scaleUp {
    0% { transform: scale(0) }
    100% { transform: scale(1) }
}
@keyframes drawCheckmark {
    0% {
        opacity: 0;
        width: 0; 
        height: 0;
    }
    100% {
        opacity: 1;
        width: 15px;
        height: 6px;
    }
}
.error-message {
    color: red;
    margin-bottom: 20px;
}
.login-form button,
.signup-form button {
    margin-top: 30px;
    width: 100%;
}
.link-mdp {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    color: white;
    text-decoration: underline;
}
.signup-form .link-signup {
    margin-top: 30px;
}
.link-signup {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    color: white;
    text-decoration: underline;
    margin: 10px 0;
}


/********* HEADER COMPONENT **************************/

.header nav {
    display: flex;
    justify-content: space-between;
}
.header nav a {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: white solid 1px;
    border-bottom: white solid 2px;
    cursor: pointer;
    background: #7277d1;
    color: white;
}
.header img {
    width: 25px;
    height: 25px;
}
.header nav a.active {
    background: #3BB0C5;
}

/********* SECTIONS ONGLET **************************/

.fdr,
.preview-section,
.search-section {
    padding: 20px 40px;
}



.preview-section h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.preview-section .status {
    color: #a8a8a8;
}
.preview-section .name {
    color: #9696f7;
}
.stats-section {
    margin: 20px;
}
.stats-nb {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.stats-section .nb {
    width: 40%;
    margin: 15px;
    padding: 10px;
    background: #F9E5E7; /*rouge*/
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.stats-section .pj {
    background: #D8E7FB; /*bleu*/
}
.stats-section .sp {
    background: #DFF5F5; /*bleu*/
}
.stats-section .sc {
    background: #faefde; /*jaune*/
}
.stats-section .crd {
    background: #F9E5E7; /*rouge*/
}
.stats-section .crp {
    background: #f3e5f9; /*violet*/
}
.nb span {
    font-size: 35px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
.nb p {
    color: #F23D58 ;
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}
.pj p {
    color: #4f97e3;
}
.sp p {
    color: #3BB0C5;
}
.sc p {
    color: #F3B955;
}
.crd p {
    color: #F23D58;
}
.crp p {
    color: #913df2;
}
.nb span::before {
    content : "";
    position: absolute;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.pj span::before {
    border: solid 5px #4f97e3;
}
.sp span::before {
    border: solid 5px #3BB0C5;
}
.sc span::before {
    border: solid 5px #F3B955;
}
.crd span::before {
    border: solid 5px #F23D58;
}
.crp span::before {
    border: solid 5px #913df2;
}




.geoloc-section {
    padding: 20px;
}
.geoloc-section button {
    width: 100%;
    margin-bottom: 20px;
    text-transform: initial;
    font-weight: normal;
}




.fdr h2 {
    color: grey;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.fdr-survey {
    box-shadow: 2px 2px 15px #cfcfcf;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
}
.fdr-header {
    display: flex;
    flex-direction: column;
}
.fdr-header button {
    width: 100%;
    font-weight: normal;
    text-transform: initial;
}
.fdr-header .nb-visits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
}
.fdr-header .nb-visits div {
   background: white;
   border-radius: 10px;
   padding: 15px
}
.fdr-date {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.fdr-date .btn-date {
    margin: 0;
}
.fdr-date button {
    text-transform: initial;
    font-weight: normal;
    margin-right: 20px;
}
.fdr-header .nb-visits h2 {
    font-size: 16px;
}
.fdr-survey button {
    width: 100%;
}
.fdr h2 {
    margin-bottom: 20px;
}
.fdr-info {
    display: flex;
    flex-direction: column;
}
.fdr-saved div {
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #cfcfcf;
}
.fdr-saved p {
    margin-bottom: 5px;
}
.fdr-saved p span {
    font-weight: bold;
}
.visit-saved {
    background: white;
    padding: 20px;
}
.fdr-saved button {
    text-transform: initial;
    margin: 10px 0px;
    font-weight: normal;
    width: 100%;
}
.all-surveys {
    display: flex;
    flex-direction: column;
}
.all-surveys a {
    margin-bottom: 10px;
    text-align: center;
    text-transform: initial;
    font-weight: normal;
}





.form-pj {
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #cfcfcf;
    background: #D8E7FB;
}
.form-pj label {
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
}
.form-pj .message {
    margin: 10px 0;
    margin-top: 20px;
    color: green;
}
.form-pj .saved-data .div {
    padding: 20px;
    margin: 20px 0;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #cfcfcf;
}
.form-pj .saved-data p {
    margin: 10px 0;
}
.form-pj .saved-data span {
    font-weight: bold;
}
.form-pj button {
    width: 100%;
    text-transform: initial;
    font-weight: normal;
}
.form-pj input {
    box-shadow: none;
    border-radius: 30px;
    background: white; 
}




.form-FSC {
    background: #FAEFDE;
    padding: 20px;
    border-radius: 20px;
}
.form-FSP {
    background: #DFF5F5;
    padding: 20px;
    border-radius: 20px;
}
.form-CRD {
    background: #F9E5E7;
    padding: 20px;
    border-radius: 20px;
}
.form-crp {
    background: #f3e5f9;
    padding: 20px;
    border-radius: 20px;
}
.form-FSC button {
    font-weight: normal;
    width: 100%;
    margin: 20px 0;
}
.form-FSC input,
.form-FSP input,
.form-CRD input, 
.form-FSP select,
.form-crp input {
    box-shadow: none;
    border-radius: 30px;
    background: white; 
}
.form-FSC .marques label,
.form-FSC .marques .radio,
.label-space {
    margin-bottom: 10px;
    display: inline-block;
}
.form-FSC  .radio-equipe {
    margin-bottom: 10px;
    display: inline-block;
}
.form-FSC .oui,
.form-FSP .oui,
.form-CRD .oui {
    margin-right: 20px;
}

.div-space {
    margin-bottom: 20px;
}
.fsc-btn {
    width: 100%;
    margin-bottom: 20px;
}
.fsc-saved{
    padding: 20px;
    background: #faefde;
    border-radius: 20px;
    margin: 20px 0;
}
.crd-saved {
    padding: 20px;
    background: #f9e5e7;
    border-radius: 20px;
    margin: 20px 0;
}
.fsp-results li {
    padding: 20px;
    background: #DFF5F5;
    border-radius: 20px;
    margin: 20px 0;
}
.fsc-saved p,
.fsp-results p,
.crd-saved p {
    margin-bottom: 10px;
}
.button-fsc,
.button-crd,
.button-crp {
    width: 100%;
}
.button-fsp {
    width: 100%;
    margin-bottom: 20px;
}
.bold {
    font-weight: bold;
}
.margin {
    margin-bottom: 10px;
    display: inline-block;
}
.form-FSP .space,
.form-CRD .space,
.form-crp .space {
    margin-bottom: 20px;
    display: inline-block;
}










.search-section h1 {
    font-weight: 400;
    color: grey;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.search-filter {
    padding: 30px;
    box-shadow: 2px 2px 15px #afafaf;
    border-radius: 20px;
}
.search-filter label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
    color: grey;
}
.search-filter button {
    width: 100%;
}
.search-results .nb-visit {
    margin-top: 30px;
    text-align: center;
    color: #4c4e78;
    font-weight: bold;
    font-size: 18px;
}
.search-results div {
    width: 100%;
    padding: 20px;
    margin: 30px 0;
    box-shadow: 2px 2px 15px #afafaf;
    border-radius: 20px;
}
.search-results div p {
    margin-bottom: 10px;
}
.search-results div span {
    font-weight: bold;
}