* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto";
    font-size: 16px;
}
a, button {
    color: black;
    text-decoration: none;
}
li {
    list-style: none;
}
input,
select {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 15px #afafaf;
    outline: none;
    font-size: 16px;
}
select {
    color: black;
}
select::placeholder {
    color: grey;
}
textarea {
    padding: 10px;
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    outline: none;
    font-family: "Roboto";
    font-size: 16px;
}
.checkbox {
    width: initial !important;
    border: initial !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 10px;
    background: transparent !important;
    box-shadow: none;
}
.button-colored {
    width: 280px;
    padding: 15px;
    border-radius: 30px;
    background: #3D9B9B;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
    width: 100%;
}
.button-white {
    background: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    width: 280px;
    text-align: center;
}
.button-back {
    background: #c5c5c5;
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
}
.success {
    color: #4caf50;
    margin-bottom: 20px;
    text-align: center;
}

/********* LOADER **************************/

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #9696f7; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/********* SIGNUP PAGE + LOGIN PAGE **************************/

.entry {
    background: #3D9B9B;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.entry h1 {
    color: white;
    margin-bottom: 100px;
}
.entry a {
    margin-bottom: 30px;
}
.signup-page,
.login-page {
    background: #3D9B9B;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup-page h1,
.login-page h1 {
    margin-bottom: 100px;
    text-align: center;
    font-size: 25px;
    color: white;
}
.signup-form,
.login-form {
    width: 350px;
}
.login-form input,
.signup-form input {
    background-color: transparent !important;
    border-bottom: 1px solid white;
    border-radius: 0;
    box-shadow: none;
    padding-left: 40px;
    margin-bottom: 30px;
    color: white;
}
.login-form input::placeholder,
.signup-form input::placeholder {
    color: white;
}
.login-form .email-input,
.signup-form .email-input {
    position: relative;
}
.signup-form label {
    color: white;
    margin-bottom: 20px;
    display: inline-block;
}
.login-form img,
.signup-form img {
    position: absolute;
    top: 10px;
    width: 25px;
    height: 25px;
}
.success-animation {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}
.circle {
    width: 26px;
    height: 26px;
    background-color: #4caf50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
    animation: scaleUp 0.5s ease-out forwards;
}
.checkmark {
    width: 15px;
    height: 6px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
    opacity: 0;
    animation: drawCheckmark 0.5s 0.5s ease-out forwards;
}
@keyframes scaleUp {
    0% { transform: scale(0) }
    100% { transform: scale(1) }
}
@keyframes drawCheckmark {
    0% {
        opacity: 0;
        width: 0; 
        height: 0;
    }
    100% {
        opacity: 1;
        width: 15px;
        height: 6px;
    }
}
.error-message {
    color: red;
    margin-bottom: 20px;
    font-size: 16px;
}
.login-form button,
.signup-form button {
    margin-top: 30px;
    width: 100%;
}
.link-mdp {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    color: white;
    text-decoration: underline;
}
.signup-form .link-signup {
    margin-top: 30px;
}
.link-signup {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    color: white;
    text-decoration: underline;
    margin: 10px 0;
}


/********* HEADER COMPONENT **************************/

.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: solid 2px #cacaca;
    padding-bottom: 20px;
    padding-top: 10px;
    background: white;
    z-index: 99;
}
.header nav {
    display: flex;
    justify-content: space-between;
}
.header nav button {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: white solid 1px;
    border-bottom: white solid 2px;
    cursor: pointer;
    background: white;
    color: white;
}
.header img {
    width: 30px;
    height: 30px;
}


/********* SECTIONS ONGLET **************************/

.fdr,
.preview-section,
.search-section,
.account,
.stats-section,
.fiches-section,
.feuilles-de-route-section {
    padding: 20px;
    padding-bottom: 150px;
    padding-top: 10px;
}

@media screen and (min-width: 600px) {
    .preview-section,
    .fdr,
    .search-section,
    .stats-section,
    .feuilles-de-route-section {
        margin-left: 100px;
        margin-right: 100px;
    }
    .fdr-section-admin {
        margin-right: initial !important;
        margin-left: initial !important;
    }
    .preview-admin {
        margin-left: 0 !important;
        margin-right: 0 !important;
    
    }
}
@media screen and (min-width: 800px) {
    .preview-section,
    .fdr,
    .search-section,
    .stats-section,
    .feuilles-de-route-section {
        margin-left: 200px !important;
        margin-right: 200px !important;
    }
    .fdr-section-admin {
        margin-right: initial !important;
        margin-left: initial !important;
    }
    .preview-admin {
        margin-left: 0 !important;
        margin-right: 0 !important;
    
    }
}
@media screen and (min-width: 1000px) {
    .preview-section,
    .fdr,
    .search-section,
    .stats-section,
    .feuilles-de-route-section  {
        margin-left: 300px;
        margin-right: 300px;
        
    }
    .fdr-section-admin {
        margin-right: initial !important;
        margin-left: initial !important;
    }
    .preview-admin {
        margin-left: 0 !important;
        margin-right: 0 !important;
    
    }
}
@media screen and (min-width: 1400px) {
    .preview-section,
    .fdr,
    .search-section,
    .stats-section,
    .feuilles-de-route-section {
        margin-left: 400px;
        margin-right: 400px;
    }
    .fdr-section-admin {
        margin-right: initial !important;
        margin-left: initial !important;
    }
    .preview-admin {
        margin-left: 0 !important;
        margin-right: 0 !important;
    
    }
}

.preview-section header,
.fdr header,
.account-header,
.search-section header,
.stats-section header,
.fiches-section header,
.feuilles-de-route-section header {
    padding-top: 10px;
    padding-bottom: 20px;
}
.geo-header {
    padding: 20px 0;
}
.preview-section header h1,
.geo-header h1,
.fdr header h1,
.account-header h1,
.search-section header h1,
.stats-section header h1,
.fiches-section header h1,
.feuilles-de-route-section header h1 {  
    font-size: 16px;
    text-align: center;
}
.preview-section .hello {
    margin: 0 20px;
    margin-top: 10px;
}
.preview-section .name {
    color: #3D9B9B;
    text-align: right;
}
.preview-section .hello p {
    margin-top: 5px;
}
.stats-section {
    margin: 20px 0;
    margin-top: 50px;
}
.stats-section .title-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.stats-section h2 {
    color: grey;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
}
.stats-section .nb {
    box-shadow: 2px 2px 15px #cfcfcf;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stats-section .title-stats button {
    background: white;
    padding: 3px;
    padding-bottom: 1px;
    border-radius: 5px;
    border: 2px solid grey;
    margin-left: 10px;
    cursor: pointer;
}
.stats-section .title-stats button img {
    width: 20px;
    height: 20px;
}
.stats-section .total {
    background: #DCF1F2;
    border: 2px solid #3D9B9B;
}
.stats-section .nb p {
    font-size: 17px;
}
.stats-section .nb span {
    color: white;
    font-weight: bold;
    background: #3D9B9B;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
}
.stats-section .fr p {
    text-align: center;
}
.stats-section .cp {
    display: flex;
    justify-content: space-between;
}
.stats-section .cp .fr {
    flex-direction: column-reverse;
    width: 47%;
}
.stats-section .cp .fr p {
    margin-top: 15px;
}
.stats-section .modal-stats {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #b4b4b48a;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
.stats-section .modal-stats .content {
    background: white;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
    position: relative;
}
.stats-section .modal-stats .content .h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
.stats-section .modal-stats .content label {
    color: grey;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
}
.stats-section .modal-stats .div h3 {
    margin-bottom: 20px;
}
.stats-section .modal-stats .content img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
}
.stats-section .modal-stats .content .input {
    margin-bottom: 10px;
}
.stats-section .modal-stats .content div {
    border-top: 4px #cecece solid;
    margin-top: 20px;
    padding-top: 20px;
}
.stats-section .modal-stats .content div p {
    margin-bottom: 15px;
}
.stats-section .modal-stats .content div p span {
    background-color: #3D9B9B;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}




.geoloc-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}
.geoloc-section header {
    position: relative;
}
.geoloc-button {
    width: 90%;
    margin-bottom: 20px;
    text-transform: initial;
    font-weight: normal;
    margin: 20px 0;
}
.geoloc-results {
    width: 100%;
}
.geoloc-results li {
    border-bottom: 5px solid #e4e4e4;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.geoloc-results li button {
    width: initial;
    text-transform: initial;
    font-weight: normal;
    padding: 8px;
    padding-bottom: 6px;
}
.geoloc-results li span {
    font-size: 17px;
}
.geoloc-results li p {
    color: grey;
    font-size: 15px;
    margin-bottom: 5px;
}
.geoloc-results .distance {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.geoloc-results .distance p {
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 14px;
}
.geoloc-results .open {
    font-size: 15px;
    color: #4caf50;
}
.geoloc-results .close {
    font-size: 15px;
    color: red;
}
.modale {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dadada3d;
}
.modale .content {
    background: white;
    width: 90%;
    padding: 30px;
    box-shadow: 2px 2Px 15px #c4c3c3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#Client {
    margin-left: 20px !important;
}
.modale .content p {
    margin: 20px 0;
    margin-top: 30px;
}
.modale .content strong {
    background: #3D9B9B;
    color: white;
    padding: 10px;
    font-size: 18;
    border-radius: 5px;
    margin-left: 10px;
}
.modale .content .city {
    color: grey;
}
.modale-log {
    overflow: scroll;
    height: 40%;
    font-size: 13px;
}
.geoloc-section button {
    text-transform: initial;
    font-weight: normal;
    margin: 20px 0;
}
.modale button {
    text-transform: initial;
    font-weight: normal;
    margin: 20px 0;
    padding: 15px 25px;
}
.distance-results {
    border-bottom: 5px solid #e4e4e4;
    width: 100%;
}
.distance-results p {
    margin-bottom: 10px;
}
.distance-results .total {
    border-top: 5px solid #e4e4e4;
    border-bottom: 5px solid #e4e4e4;
    padding: 15px 20px;
    text-align: center;
}
.distance-results .total strong {
    background: #3D9B9B;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.distance-results .arrets {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0;
}
.distance-results .arrets li p {
    margin-bottom: 15px;
    color: grey;
    line-height: 25px;
}
.distance-results .arrets li em {
    color: black;
}
.distance-results .arrets li strong {
    background: #3D9B9B;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.distance-results .point {
    color: grey;
    font-size: 14px;
}
.distance-results .info {
    color: #3D9B9B;
    font-style: italic;
    font-size: 14px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.distance-results .info p {
    margin-bottom: 0;
}
.distance-results .info img {
    margin-right: 10px;
}
.congrats {
    text-align: center;
    line-height: 25px;
    margin: 40px 10px;
}
.congrats .error-message {
    margin-top: 20px;
}
.start-tour {
    padding: 30px 0;
}
.start-tour div {
    display: flex;
    justify-content: center;
}
.start-tour button {
    padding: 10px;
    width: 70px;
    background-color: #3D9B9B;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 18px;
}
.start-tour button:nth-child(1) {
    margin-right: 20px;
}
.motif {
    padding: 20px 0;
}
.motif button,
.start-adress button {
    margin: 0;
}
.motif input,
.start-adress input {
    margin-top: 10px;
}
.start-adress input:nth-child(2) {
    margin-bottom: 15px;
}
.start-adress {
    padding: 20px;

}
.start-adress input:nth-child(1) {
    margin-bottom: 10px;
}
.start-adress .info {
    color: grey;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}
.btn-cancel {
    text-align: center;
    text-decoration: underline;
    width: 100%;
    border: none;
    background: none;
    font-family: "Roboto";
    font-size: 15px;
    color: #3D9B9B;
    margin-top: 20px;
}
.modale .content .status .prospect {
    margin-right: 20px;
}
.new-salon h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}
.ending-btns button {
    background: #3D9B9B;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    width: 80px;
    cursor: pointer;
}
.ending-btns button:nth-child(1) {
    margin-right: 20px;
}
.back-home-btn {
    width: 90%;
}





.fiches-section {
    padding: 20px 0;
    padding-bottom: 100px;
}
.fiches-section .content {
    border-top: 5px #e9e9e9 solid;
}
.fiches-section .content .button {
    padding: 25px 0px;
    border: none;
    font-family: "Roboto";
    border-bottom: 5px #e9e9e9 solid;
    font-size: 17px;
    width: 100%;
    background: white;
}
.feuilles-de-route-section {
    position: relative;
}
.feuilles-de-route-section .button-back {
    position: absolute;
}
.feuilles-de-route-section .search {
    margin-top: 20px;
}
.feuilles-de-route-section .search label {
    color: grey;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
}
.feuilles-de-route-section .button-colored {
    margin-bottom: 20px;
}
.feuilles-de-route-section .selected-period,
.feuilles-de-route-section .this-week,
.feuilles-de-route-section .this-month,
.feuilles-de-route-section .this-day {
    background: #DCF1F2;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.feuilles-de-route-section h2 {
    font-size: 20px;
}
.feuilles-de-route-section .selected-period .close-btn,
.feuilles-de-route-section .this-week .close-btn,
.feuilles-de-route-section .this-month .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: solid 2px #3D9B9B;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.feuilles-de-route-section .selected-period .close-btn img,
.feuilles-de-route-section .this-week .close-btn img,
.feuilles-de-route-section .this-month .close-btn img {
    width: 22px;
    height: 22px;
    padding: 3px;
    padding-bottom: 1px;
}
.feuilles-de-route-section .search {
    padding: 20px;
    box-shadow: 2px 2px 15px #cfcfcf;
    background: white;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-bottom: 10px;
}
.feuilles-de-route-section .col {
    background: #a59add;
}
.this-day {
    margin-bottom: 20px;
}
.this-day h2 {
    text-align: center;
    margin-bottom: 20px;
}
.this-day .none {
    text-align: center;
}
.feuille-jj .total-dist {
    background: #3D9B9B;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    display: inline;
    border-radius: 5px ;
    margin-left: 10px;
}
.feuille-jj .inline {
    display: inline;
    margin-left: 10px;
}
.feuille-jj .title-visit {
    
    border-top: 5px #e9e9e9 solid;
    padding-top: 15px;
    margin-top: 15px;
    width: 100%;
}
.this-day form .info {
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 4px solid #cfcfcf;
    padding-bottom: 20px;
}
.this-day h3 {
    border-bottom: 4px solid #cfcfcf;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.signature-draw {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signature-draw p  {
    margin-top: 20px;
    width: 100%;
    text-align: right;
}
.feuilles-de-route-list .this-week {
    margin: 20px 0;
}
.date-filters label {
    color: grey;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
    margin-right: 20px;
}
.date-filters input:nth-child(1) {
    margin-bottom: 10px !important;
}
.filters select {
    margin-bottom: 15px;
}
.feuille-jj {
    margin: 10px 0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 15px #cfcfcf;
    background: white;
}
.feuille-jj td {
    border: grey solid 1px;
    padding: 5px;
    font-size: 15px;
}
.feuille-jj p,
.feuille-jj li {
    margin-bottom: 5px;
}
.feuille-jj .date {
    border-bottom:4px solid #cfcfcf;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}
.feuille-jj table {
    background: #afafaf;
    width: 100%;
    margin-top: 10px;
}
.feuille-jj table td {
    background: white;
}
.feuille-jj thead td {
    background: #c0c0c0;
    color: white;
    font-weight: bold;
}
.form-feuilledj label {
    color: grey;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
}
.form-feuilledj .status {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-feuilledj .status p {
    margin-bottom: 0;
}
.form-feuilledj .button-colored {
    margin-bottom: 0;
    margin-top: 20px;
}
.this-week h2 {
    margin-bottom: 20px;
}
.no-visit-btn {
    padding: 10px;
    font-family: "Roboto";
    font-size: 15px;
    line-height: 23px;
    border: 3px solid #3D9B9B;
    border-radius: 10px;
    cursor: pointer;
}
.no-visit-txt {
    color: #3D9B9B;
    line-height: 23px;
}
.confirm-motif {
    margin-top: 10px;
}
.signature {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signature .sign {
    margin-bottom: 5px !important;
}
.signature-modal {
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
}
.annuler-signature {
    text-decoration: underline;
    background: none;
    color: #3D9B9B;
    border: none;
    font-family: "Roboto";
    font-size: 15px;
    margin: 15px 0;
}
.modal-no-visit {
    background: #ccccccb0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.modal-no-visit .content {
    margin: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border: none !important;
}
.modal-no-visit .content p {
    text-align: center;
    margin: 20px 0;
    margin-bottom: 30px;
    line-height: 25px;
}
.modal-no-visit .content label {
    margin-bottom: 10px;
    display: inline-block;
}
.fiche-client-section,
.fiche-prospect-section,
.demonstration-section,
.historique-section  {
    padding: 0 20px ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-historique {
    width: 100%;
}
.fiche-client-section .button-back,
.fiche-prospect-section .button-back ,
.demonstration-section .button-back{
    position: absolute;
    left: 10px;
    top: 30px;
}
.historique-section .button-back {
    position: absolute;
    left: 10px;
    top: 0;
}
.filter-historique .select-sugg {
    width: 100%;
}
.imp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.imp button {
   width: initial !important;
   padding: 10px 20px;
}
.nb-visit span {
    background: #3D9B9B;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}
.fiche-client-section .success,
.fiche-prospect-section .success,
.demonstration-section .success {
    margin-bottom: 0px;
    margin-top: 20px;
}
.sugg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-sugg  {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 0;
}
.select-sugg {
    background: white;
    width: 85%;
    box-shadow: 2px 2Px 10px #cfcfcf;
}
form {
    width: 100%;
    margin-top: 20px;
}
form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 23px;
}
form .adress {
    margin-bottom: 20px;
    text-align: center;
}
.historique-section h3 {
    margin: 20px 0;
    font-size: 20px;
}
.filter-historique label {
    display: inline-block;
    font-size: 14px;
    color: grey;
    margin-bottom: 10px;
}
.filter-historique input {
    margin-bottom: 15px !important;
}
.history-form {
    background: #dbdbdb;
    padding: 0 !important;
}
.data {
    width: 100%;
}
.sous-champs {
    display: flex;
    width: 100%;
}
.sous-champs-key {
    padding-bottom: 1px !important;
    width: 100%;
}
.sous-champs-value {
    padding-bottom: 1px !important;
    width: 100%;
}
.history-form .key{
    padding: 5px;
    font-size: 15px;
    width: 100%;
    display: inline-block;
}
.key-value {
    padding: 5px;
    font-size: 15px;
    width: 100%;
    display: block;
    background: white;
}

.sign-fdj .signature-modal{
    border: 1px solid rgb(172, 172, 172);
}
.sign-fdj .error-message {
    margin-top: 20px;
}
.filter-historique table {
    overflow: scroll;
}



.fdr-section-admin .content {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.fdr-section-admin .search {
    width: 25%;
    height: 550px;
}
.fdr-section-admin .results {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fdr-section-admin .results .feuille-jj {
    width: 30%;
}
.fdr-section-admin .results .feuilles-de-route-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fdr-section-admin .results .this-week {
    width: 45%;
    margin-top: 0;
}
.fdr-section-admin .none-fdr {
    margin: 20px;
}
.fdr-section-admin .vrp {
    margin-bottom: 10px !important;
    margin-top: 20px;
}
@media screen and (max-width: 700px) {
    .fdr-section-admin .content {
        flex-direction: column;
        align-items: center;
    }

    .fdr-section-admin .search {
        width: 90%;
        height: 500px;
    }
    .fdr-section-admin .results {
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .fdr-section-admin .results .feuille-jj {
        width: 100%;
    }
    .fdr-section-admin .results .this-week {
        width: 100%;
       margin-bottom: 20px;
    }
    .fdr-section-admin .results .feuille-jj div {
        width: 100%;
        margin-bottom: 30px;
        background: white;
        padding: 20px;
        border-radius: 20px;
    }

}
.dayOn-section .feuille-jj {
    width: 100%;
    padding: 0 !important;
}
.feuilles-de-route-list .feuille-jj {
    background: none;
    box-shadow: none !important;
}
.dayOff-section .feuille-jj {
    background: white;
    margin-bottom: 20px;
}


.fdr-survey {
    box-shadow: 2px 2px 15px #cfcfcf;
    padding: 30px;
    margin: 30px 0;
    border-radius: 20px;
}
.fdr-header {
    display: flex;
    flex-direction: column;
}
.fdr-header button {
    width: 100%;
    font-weight: normal;
    text-transform: initial;
}
.fdr-header .nb-visits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
}
.fdr-header .nb-visits div {
   background: white;
   border-radius: 10px;
   padding: 15px
}
.fdr-date {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.fdr-date .btn-date {
    margin: 0;
}
.fdr-date button {
    text-transform: initial;
    font-weight: normal;
    margin-right: 20px;
}
.fdr-header .nb-visits h2 {
    font-size: 16px;
}
.fdr-survey button {
    width: 100%;
}
.fdr h2 {
    margin-bottom: 20px;
}
.fdr-info {
    display: flex;
    flex-direction: column;
}
.fdr-info h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.detected-date {
   background: #DCF1F2;
   color: #3D9B9B;
   padding: 10px;
   font-size: 14px;
}
.fdr-saved div {
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #cfcfcf;
}
.fdr-saved p {
    margin-bottom: 5px;
}
.fdr-saved p span {
    font-weight: bold;
}
.visit-saved {
    background: white;
    padding: 20px;
}
.fdr-saved button {
    text-transform: initial;
    margin: 10px 0px;
    font-weight: normal;
    width: 100%;
}
.all-surveys {
    display: flex;
    flex-direction: column;
}
.all-surveys a {
    margin-bottom: 10px;
    text-align: center;
    text-transform: initial;
    font-weight: normal;
}
.visit-saved .button-colored {
    padding: 10px;
    margin-bottom: 5px;
}
.visit-saved div {
    margin-bottom: 20px;
    box-shadow: none;
    margin-top: 0;
}





.form-pj {
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #cfcfcf;
    background: #DCF1F2;
}
.form-pj label {
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
}
.form-pj .message {
    margin: 10px 0;
    margin-top: 20px;
    color: green;
}
.form-pj .saved-data .div {
    padding: 20px;
    margin: 20px 0;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #cfcfcf;
}
.form-pj .saved-data p {
    margin: 10px 0;
}
.form-pj .saved-data span {
    font-weight: bold;
}
.form-pj button {
    width: 100%;
    text-transform: initial;
    font-weight: normal;
}
.form-pj input {
    box-shadow: none;
    border-radius: 30px;
    background: white; 
}




.form-FSC {
    background: #DCF1F2;
    padding: 20px;
    border-radius: 20px;
}
.form-FSP {
    background: #DCF1F2;
    padding: 20px;
    border-radius: 20px;
}
.form-CRD {
    background: #DCF1F2;
    padding: 20px;
    border-radius: 20px;
}
.form-crp {
    background: #DCF1F2;
    padding: 20px;
    border-radius: 20px;
}
.form-FSC button {
    font-weight: normal;
    width: 100%;
    margin: 20px 0;
}
.form-FSC input,
.form-FSP input,
.form-CRD input, 
.form-FSP select,
.form-crp input {
    box-shadow: none;
    border-radius: 30px;
    background: white; 
}
.form-FSC .marques label,
.form-FSC .marques .radio,
.label-space {
    margin-bottom: 10px;
    display: inline-block;
}
.form-FSC  .radio-equipe {
    margin-bottom: 10px;
    display: inline-block;
}
.form-FSC .oui,
.form-FSP .oui,
.form-CRD .oui {
    margin-right: 20px;
}

.div-space {
    margin-bottom: 20px;
}
.fsc-btn {
    width: 100%;
    margin-bottom: 20px;
    text-transform: initial;
    font-weight: normal;
}
.fsc-saved, 
.crp-results li {
    padding: 20px;
    background: #DCF1F2;
    border-radius: 20px;
    margin: 20px 0;
}
.crd-saved {
    padding: 20px;
    background: #DCF1F2;
    border-radius: 20px;
    margin: 20px 0;
}
.fsp-results li {
    padding: 20px;
    background: #DCF1F2;
    border-radius: 20px;
    margin: 20px 0;
}
.fsc-saved p,
.fsp-results p,
.crd-saved p {
    margin-bottom: 10px;
}
.button-fsc,
.button-crd,
.button-crp {
    width: 100%;
}
.button-fsp {
    width: 100%;
    margin-bottom: 20px;
}
.bold {
    font-weight: bold;
}
.margin {
    margin-bottom: 10px;
    display: inline-block;
}
.form-FSP .space,
.form-CRD .space,
.form-crp .space {
    margin-bottom: 20px;
    display: inline-block;
}
.search-filter .space {
    margin-bottom: 20px;

}
.search-filter .space div label {
    color: black;
    font-size: 16px;
}
.form-FSP .adresse {
    margin: 20px 0;
}
.form-FSC button,
.form-FSP button,
.form-crp button,
.fsc-results button,
.fsc-btn,
.btn-crp,
.btn-crd,
.form-CRD .button-colored {
    text-transform: initial;
    font-weight: normal;
    width: 100%;
    margin-bottom: 10px;
}





.historique-section {
    padding: 0 20px;
}
.historique-section button {
    margin: 20px 0;
}
.historique-section table {
    background: #afafaf;
}
.historique-section tbody {
    background-color: white;
}
.historique-section td, th {
    padding: 10px;
}
.historique-formdata {
    background: #cfcfcf;
    display: flex;
    flex-direction: column;
}
.historique-formdata tbody {
    background: white;
    padding: 5px;
}
.historique-formdata thead {
    padding: 5px;
}
.formdata-table {
    padding: 0 !important;
}






.search-filter {
    padding: 30px;
    box-shadow: 2px 2px 15px #afafaf;
    border-radius: 20px;
}
.search-filter label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
    color: grey;
}
.search-filter button {
    width: 100%;
}
.search-results .nb-visit {
    margin-top: 30px;
    text-align: center;
    color: #3D9B9B;
    font-weight: bold;
    font-size: 18px;
}
.search-results div {
    width: 100%;
    padding: 20px;
    margin: 30px 0;
    box-shadow: 2px 2px 15px #afafaf;
    border-radius: 20px;
}
.search-results div p {
    margin-bottom: 10px;
}
.search-results div span {
    font-weight: bold;
}




.account {
    padding: 0 !important;
}
.account .content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-top: 5px #e9e9e9 solid;
}
.account .content button,
.account .content div  {
    padding: 25px 0;
    border: none;
    font-family: "Roboto";
    font-size: 17px;
    background-color: white;
    border-bottom: 5px #e9e9e9 solid;
}
.account button {
    cursor: pointer;
}
.account .content div {
    position: relative;
}
.account .content div span {
    color: grey;
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.account .content div p {
    text-align: center;
}
.account .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dadadab4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.account .modal-content {
    background-color: white;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    line-height: 25px;
}
.account .modal-content p {
    margin-bottom: 20px;
    font-size: 17px;
}
.account .modal-content button {
    margin-top: 20px;
    background: #3D9B9B;
    color: white;
    font-family: "Roboto";
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-right: 20px;
    width: 80px;
}





.preview-admin {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;

}
.modal-manage {
    background: #b8b8b8a9;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
.modal-manage form{
    width: 90%;
    padding: 20px 30px;
    background: white;
    
    border-radius: 20px;
}
.modal-manage h2 {
    text-align: center;
    margin: 20px 0;
    margin-bottom: 40px;
}
.cancel {
    background: none; 
    color: #3D9B9B;
    text-decoration: underline;
    border: none;
    text-align: center;
    margin: 20px 0;
}
.available-section form {
    padding: 20px ;
    border-bottom: 5px #e9e9e9 solid;
}
.available-section h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
.available-section label {
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}
.available-section p {
    margin-top: 20px;
}
.available-section .button {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: "Roboto";
    font-size: 17px;
    background-color: white;
    border: none;
    border-bottom: 5px #e9e9e9 solid;
}


.tableau-indispo {
    padding: 20px !important;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}
.tableau-indispo h2 {
    margin-bottom: 30px;
    text-align: center;
}
.tableau-indispo table {
    background: #cfcfcf;
    width: 100%;
}
.tableau-indispo th {
    padding: 5px;
    background: #3D9B9B;
    color: white;
    font-weight: normal;
}
.tableau-indispo td {
    border: 1px solid #cfcfcf;
    padding: 5px 10px;
    background-color: white;
}
.tableau-indispo .button-back {
    position: absolute;
    top: 20px;
    left: 20px;
}






.nope {
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.shadow {
    box-shadow: 2px 2px 15px #afafaf ;
    padding: 20px ;
    border-radius: 20px ;
}
.shadow p {
    margin-bottom: 10px;
}
.title {
    border-bottom: 5px solid #e4e4e4;
    padding-bottom: 10px;
    margin-bottom: 20px !important;
    text-transform: uppercase;
}
.savedby {
    border-top: 5px solid #e4e4e4;
    padding-top: 10px;
    margin-bottom: 0 ;
    margin-top: 10px !important;
    display: inline-block;
    width: 100%;
}
.geo-header {
    position: relative;
}
.geo-header .btns {
    position: absolute;
    z-index: 2;
    bottom: -100px;
    right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.geo-header .btns button {
    background-color: #3D9B9B;
    border-radius: 50%;
    border: none;
    padding: 13px;
    padding-bottom:8px;
    margin-top: 10px;
    cursor: pointer;
}
.geo-header .btns button img {
    width: 27px;
    height: 27px;
}
.geo-header .add {
    width: 55px;
    height: 55px;
}
.btn-circle {
    background: #3D9B9B;
    padding: 8px 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    bottom: -55px;
    left: 20px;
}
.custom-datepicker {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }
.react-datepicker {
    background-color: white;
    width: 100%;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none; /* Safari et autres navigateurs WebKit */
  -moz-appearance: none; /* Firefox */
  padding: 15px;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  color: #333;
  width: 100%;
}
.custom-select option {
    color: black;
}

.new-salon .content .button-colored {
    margin-top: 20px !important;
}
.new-salon .content label:nth-child(1) {
    margin-left: 20px !important;
    display: inline-block;
}
.select-sugg div {
    padding: 15px 10px !important;
}

.recap table {
    background: #e0e0e0;
}
.recap th {
    background: #3D9B9B;
    font-weight: bold;
    color: white;             
}
.recap td {
    background: white;
    padding: 5px 15px;
}
.recap input {
    width : initial;
    padding: 2px 5px;
    font-size: 13px;
    margin: 0 10px;
    margin-bottom: 5px;
}
.recap .date {
    display: flex;
    align-items: center;
    justify-content: center;
}
.recap button {
    background: none;
    padding: 4px;
    border: 2Px solid white;
    color:   white;
}


.preview-admin .content {
    display: flex;
    justify-content: space-evenly;
}
.preview-admin .stats-section {
    margin: 0;
    margin-top: 50px;
    padding-bottom: 30px;
    width: 40%;
}
.preview-admin .recap  {
    margin-top: 50px;
    width: 40%;
}
.preview-admin .recap table {
    width: 100%;
}
.preview-admin .recap h2 {
    color: grey;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 20px;
}
.preview-admin .hello {
    margin-left: 50px;
}

@media screen and (min-width: 800px) {
    .preview-admin .stats-section {
        margin-left: initial !important;
        margin-right: initial !important;
    }
}
@media screen and (max-width: 1300px) {
    .fdr-section-admin .content {
        flex-direction: column;
        align-items: center;
    }
    .fdr-section-admin .search {
        width: 70%;
        height: initial;
    }
    .fdr-section-admin .results {
        width: 70%;
    }
    .fdr-section-admin .results .feuille-jj {
        width: 45%;
    }
}
@media screen and (max-width: 1000px) {
    .preview-admin .content {
        justify-content: space-between;
        margin: 0 20px;
    }
    .preview-admin .stats-section {
        width: 45%;
    }
    .preview-admin .recap  {
        width: 50%;
    }
    .fdr-section-admin .search {
        width: 90%;
    }
    .fdr-section-admin .results {
        width: 100%;
    }
    .fdr-section-admin .results .feuille-jj {
        width: 45%;
    }
}
@media screen and (max-width: 800px) {
    .preview-admin .content {
        flex-direction: column;
    }
    .preview-admin .stats-section {
        width: 100%;
    }
    .preview-admin .recap  {
        width: 100%;
    }
    .preview-admin .recap {
        margin-top: 0;
    }
    .preview-admin .stats-section {
        padding-bottom: 20px;
    }
    .fdr-section-admin .results .feuille-jj {
        width: 90%;
    }
}

